/* // order */

.order{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url(outline-burger.avif);
    background-size: cover;
    background-position: center;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;

}

.order h1 span{
    color: #fac031;
    margin-right: 15px;
    font-style: italic;
    
}

.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 12px;
}

.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order .order_main .order_image img{
    width: 490px;
}

.order .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order .order_main form .input p{
    line-height: 25px;
}

.order .order_main form .input{
    margin: 5px;
}

.order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    outline: none;
    border-radius: 3px;
}

.order .order_main form .input input:focus{
    border: 2px solid #fac031;
}

.order .order_main form .order_btn{
    padding: 10px 0;
    background: #fac031;
    color: #fff;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

footer{
  margin-top: 100px;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: #fff;
}

.main-content{
  display: flex;
}

.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content2{
  margin: 20px 0 0 0;
  position: relative;
}

.box .content2::before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content2::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.left .content2 p{
  text-align: justify;
}

.left .content2 .social{
 margin: 20px 0 0 0;
}
.left .content2 .social a{
 padding: 0px 2px;
}


.left .content2 .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content2 .social a span:hover{
  background: #f12020;
  
}


/* for icon */
.social .fab{
  color: #fff;
}
.social .fab:hover{
  background: #f12020;
}
/* end of it */

.center .content2 .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content2 .fas:hover{
  background: #f12020;
}

.center .content2 .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content2 .phone{
  margin: 10px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .btn3{
  margin-top: 10px;
}

.right form .btn3 button{
  height: 40px;
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn3 button:hover{
  background: #000;
}

.right form .msg{
  margin-top: 10px;
}

.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input:focus,
 .right form textarea:focus{
  outline-color: #3498db;
 }

.right form input{
  height: 35px;
}

.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
}

.bottom .center span{
  color: #656565;
}

.bottom center a{
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }

  .ul{
    position: relative;
    right: 20px;
  }
}